
body{
color: Black;
font-family: 'Source Sans Pro', sans-serif;
background-image: url(https://static.pexels.com/photos/6241/sky-sunset-red-romantic.jpg);
background-size: cover;
text-align:center;
}
h1{
color: BurntUmber;
font-family: 'Montserrat', sans-serif;
text-align:center;
}

