
body{
color: Black;
font-family: 'Source Sans Pro', sans-serif;
background-image: linear-gradient(-90deg, #006AFF, #FF0037);;
background-size: cover;
text-align:center;
}
h1{
color: BurntUmber;
font-family: 'Montserrat', sans-serif;
text-align:center;
}

nav {
  color: #FFF;
  text-decoration: none;
  background-color: #F00;
}

nav a:visited{
  color: #FFF;
}
